
<div style="display: none;" id="new-notification-email-form">
     
    <div class="parent">
        <%= text_field_tag "notification_emails[]" %>  <a href="javascript:;" onclick="removeElement($(this))"  class="remove-choice" > X </a>
    </div>
</div>